@import "tailwindcss";

@font-face {
  font-family: 'PPFraktionMono';
  src: url('./assets/fonts/PPFraktionMono-Regular-BF675904a6a1564.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPFraktionMono';
  src: url('./assets/fonts/PPFraktionMono-RegularItalic-BF675904a6859b6.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PPFraktionMono';
  src: url('./assets/fonts/PPFraktionMono-Bold-BF675904a6c4c6e.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PPFraktionMono';
  src: url('./assets/fonts/PPFraktionMono-BoldItalic-BF675904a6f3fc1.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PPFraktionSans';
  src: url('./assets/fonts/PPFraktionSans-Light-BF675904a63027f.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPFraktionSans';
  src: url('./assets/fonts/PPFraktionSans-LightItalic-BF675904a6ee54f.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PPFraktionSans';
  src: url('./assets/fonts/PPFraktionSans-Bold-BF675904a667d89.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PPFraktionSans';
  src: url('./assets/fonts/PPFraktionSans-BoldItalic-BF675904a70061a.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --font-fraktion-mono: 'PPFraktionMono', monospace;
  
  --font-fraktion-sans: 'PPFraktionSans', sans-serif;
}

@keyframes flicker-in {
  0% { opacity: 0; }
  10% { opacity: 0.8; }
  20% { opacity: 0; }
  40% { opacity: 0.5; }
  50% { opacity: 0.2; }
  60% { opacity: 1; }
  70% { opacity: 0.5; }
  100% { opacity: 1; }
}

.animate-flicker-in {
  animation: flicker-in 0.6s ease-out forwards;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: 'PPFraktionSans', sans-serif;
}

*::-webkit-scrollbar {
  display: none; 
}

*{
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}